* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.banner-img {
  height: 100vh;
  width: 100%;
}
.searchbar {
  background-color: red;
  position: absolute;
  margin-top: 85vh;
  margin-left: 24%;
  width: 30%;
}

.search {
  width: 100%;
  background-color:#272829 !important;
}


/* .banner-text {
  position: absolute;
  text-align: center;
  padding-top: 90px;
  top: 35vh;
  right: 24%;
  height: 50vh;
  width: 50%;
  background-color: black;
  opacity: 0.5;
  color: white;
  font-weight: 600;
  z-index: 1;
} */

.searchBtn {
  background-color: #FD8D14;
  border: none;
  padding: 0.8rem 2rem;
  color: white;
  margin: 2rem;
}
.searchFrom{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.searchFrom > input[type="text"] {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
    background-color: white;
    border: none;
    color: rgba(0, 0, 0, 0.637);
    padding: 1rem 1rem;
    width: 30%;
    outline: none;
    border-radius: 0%;
    box-sizing: border-box;
    
}
.inputArea{
height: 50px;
padding-right: 2rem;
width: 30%;
}