@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");


.logo_name{
  font-family: "Satisfy", cursive;
}

.navarea {
  /* height: 25vh; */
  width: 100%;
  z-index: 2;
  position: fixed !important;
  background-color: #272829 !important;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.26);
 
}
.firstNavArea {
  height: 8vh;
  font-size: 1rem;
}
.mainNavArea {
  height: 12vh;
}

.navlink {
  margin: 0.6rem;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  z-index: 2;
}

/* .logo_name {
  font-weight: bold;
  margin-left: 0.5rem;
  text-decoration: none;
  padding-right: 1.5rem;
  margin-top: 0.1rem;
  color: white;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
} */

.d-flex.login {
  background-color: #ffffff !important;
  height: 2.5rem;
  box-shadow: none !important;
  border: 1px solid #ffc178 !important;
}

.login img {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.3rem;
}
.account {
  display: flex;
  justify-content: right;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}


@media screen and (max-width: 600px) {
  .logo_name {
    display: none;
  }
  .account {
    display: none;
  }
  .mainNavArea {
    padding-left: 0;
    padding-right: 0;
  }
}

/* #F44336 */