*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.footer{
   width: 100%;
}
.footer-container{
    color: #ffffff;
    font: "Roboto";
   
}

.flexcontent{
    display: flex;
}
.leftcontent{
    margin-left: 15rem;
}
.rightcontent{
    margin-left: 20rem;
}
.footer-text p{
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 1.2rem;
    padding-top: 2rem;
    font-weight: lighter;
}

.copyright-text{
    text-align: center;
    padding-top: 3rem;
 }
 .form-input{
    border-radius: 5px;
    padding: 0 8px 0 5px;
 }

.footer-button{
    background-color:#F44336 !important;
    border: none !important;
    padding: 5px 12px 5px 12px;
    
}

